.links-container {
    margin-top: 10px;
}

.column-container{
    height: 80px;
}

.left-column {
    float: left;
    width: 49%;
}

.right-column {
    float: right;
    width: 49%;
}

.input-field {
    width: 100%;
}